<div>
  <p>
    Hi
    {{name}},
  </p>

  <p>
    We’re sorry to see you go!
  </p>

  <p>
    This email is to confirm that your account with
    {{appName}}
    has been successfully deleted. All your data has been removed from our systems.
  </p>

  <p>
    Thank you for having been a part of our community. We hope to see you again in the future.
  </p>

  <p>
    Best regards,
    <br />
    The
    {{appName}}
    Team
  </p>
</div>