<div>
  <p>
    Hi
    {{name}},
  </p>

  <p>
    This is a confirmation that the password for your
    {{appName}}
    account has been successfully updated.
  </p>

  <p>
    If you did not make this change, please contact our support team immediately at
    {{supportEmail}}.
  </p>

  <p>
    For your security, remember to use a unique password and keep it confidential.
  </p>

  <p>
    Best regards,
    <br />
    The
    {{appName}}
    Team
  </p>
</div>